.main {
  animation: background-moving 10s linear infinite;
  background: linear-gradient(
    to right,
    #6904C2,
    #00875F,
    #6904C2
  );
  background-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  .titlesContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    cursor: default;
    pointer-events: none;

    .frontTitleContainer, .behindTitleContainer {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .behindTitleContainer {
      opacity: 0;
    }

    .title, .subtitle {
      color: white;
      margin: 0 2rem;
      text-align: center;
      text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
      text-transform: uppercase;
    }

    .title {
      font-size: 4vw;
      line-height: 4vw;
    }

    .subtitle {
      font-size: 2.2vw;
      margin-top: 2rem;

      span {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 52%;
          right: 0;
          border-top: .25vw solid white;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));

  .tile {
    position: relative;
    min-width: 100%;
    min-height: 100%;

    &:after {
      background-color: #18181B;
      content: "";
      inset: 0.5px;
      position: absolute;
    }

    &:hover::after {
      opacity: .1;
    }

    &:hover {
      opacity: 1 !important;
    }
  }
}

@keyframes background-moving {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}