@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #E9EAEB;
  --primary-curve: cubic-bezier(0.62,0.05,0.01,0.99);
}

body {
  background: var(--background-color)
}

.word {
  text-wrap: nowrap;
  clip-path: inset(0 0 .12em);
}

.line {
  display: inline;
  text-wrap: nowrap;
  clip-path: inset(0 0 .12em);
}

#image {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

#title, #paragraph {
  visibility: hidden;
}
