// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 1080px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
    "aside header"
    "aside description"
    "aside footer";

  @include sm {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "aside"
      "header"
      "description"
      "footer";
    padding: 4rem 1.5rem 1.5rem;
  }

  height: 100%;
  max-width: 90vw;
  margin: 0 auto;

  .header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: header;

    font-size: 4.4rem;

    @include md {
      justify-content: flex-start;
      align-items: center;

      font-size: 2.2rem;
    }
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: aside;
  }

  .description {
    grid-area: description;
    text-align: end;
    line-height: 2rem;

    @include sm {
      text-align: initial;
      line-height: 1.4rem;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    & > div {
      height: 40px;
      color: white;
      display: flex;
      align-items: flex-end;
      margin-left: 24px;

      img {
        margin-right: 8px;

        @include sm {
          scale: .8;
          margin-right: 2px;
        }
      }

      a {
        color: white;
      }
    }

    @include md {
      justify-content: space-between;
      align-items: center;

      & > div {
        margin-left: 0px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}

.portraitContainer {
  scale: 1.6;

  @include sm {
    scale: 1;
  }

  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 250px;
  width: 250px;
  background: var(--purple);
  border-radius: 16px;
  // outline: 3px solid white;

  .fluidContainer {
    position: relative;

    .fluidPortrait {
      position: absolute;
      height: 250px;
      width: 250px;
      border-radius: 16px;
      top: -250px;
      left: 25px;
      overflow: hidden;
      // opacity: .2;
    }

    .fluid {
      position: absolute;
      width: 500px;
      height: 550px;
      background-color: #18181B;
      // background-color: red;
      // opacity: .6;
      left: calc(-250px / 2);
      top: calc(-250px / 2);;
      border-radius: 30%;
    }
  }

  img {
    opacity: 0;

    width: 300px;
    height: 300px;

    filter: drop-shadow(1px 3px 11px rgba(0, 0, 0, 0.6));
  }
}
