// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 1080px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

.expertiseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 80vw;
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
  color: white;

  .title {
    margin-bottom: 2rem;
    font-size: 4.4rem;

    @include md {
      font-size: 2.2rem;
    }
  }

  .boxesContainer {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .box {
      height: 100%;
      border: solid #bdbdbd;
      padding: 3rem 4rem;

      @include lg {
        padding: 1rem 2rem;
      }

      @include md {
        padding: 1rem;
      }

      &:nth-child(1) {
        border-width: 3px 1.5px 3px 3px;

        @include md {
          border-width: 3px 3px 1.5px 3px;
        }
      }
      &:nth-child(2) {
        border-width: 3px 1.5px;

        @include md {
          border-width: 1.5px 3px;
        }

        h4::after {
          background: var(--red);
        }
      }
      &:nth-child(3) {
        border-width: 3px 3px 3px 1.5px;

        @include md {
          border-width: 1.5px 3px 3px 3px;
        }

        h4::after {
          background: var(--green);
        }
      }

      .boxHeader {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h4 {
        position: relative;
        font-size: 1.6rem;
        margin-left: 8px;

        &::after {
          content: "";
          position: absolute;
          background: var(--purple);
          height: .6rem;
          left: 50%;
          transform: translateX(-50%);
          bottom: 16%;
          width: 105%;
          z-index: -1;
        }

        @include md {
          font-size: 1rem;
        }
      }

      .description {
        
        @include md {
          font-size: 14px;
        }
        
        @include sm {
          font-size: 10px;
          line-height: 1rem;
        }
      }
    }
  }
}
