* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  width: 100vw;
  height: -webkit-fill-available;
  overflow: hidden;

  background: #18181B;
}
