.snapContainer {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  
  & > .snapSection {
    scroll-snap-align: start;

    height: 100vh;
    width: 100vw;
  }
}
